.blogs {
  padding: 4rem 1rem;
  background-color: #f8fafc;
}

.blogContainer {
  max-width: 100%;
  margin: 0 auto;
  background-color: #e4e6eb;
  padding: 2%;
  border-radius: 20px;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filterBtn {
  background-color: #ccd1d6;
  color: #1e293b;
  padding: 0.5rem 1.2rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.filterBtn:hover {
  background-color: #1e293b;
  color: #f8fafc;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1e293b;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.header p {
  color: #64748b;
  font-size: 1.1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}
.showMoreWrapper {
  text-align: center;
  margin-top: 2rem;
}

.showMoreBtn {
  background-color: #0f172a;
  color: #f8fafc;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.showMoreBtn:hover {
  background-color: #1e293b;
}
.active {
  background-color: #0f172a;
  color: #f8fafc;
}
.loadingText {
  text-align: center;
  font-size: 1.2rem;
  color: #334155;
  padding: 2rem;
}
